.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

/* Мобильная версия по умолчанию */
.app-mobile {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

/* Десктоп версия скрыта по умолчанию */
.app-desktop {
  display: none;
}

/* Десктоп версия */
@media (min-width: 768px) {
  .app-mobile {
    display: none;
  }

  .app-desktop {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
  }
}
